@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.2rem;
  position: relative;
}

.header_menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header_menu a {
  font-size: x-large;
  position: absolute;
  left: 2rem;
}
.header_menu a:hover {
  transform: scale(1.2);
}

footer {
  background-color: rgb(70, 70, 70);
  color: white;
}
footer .footer_margin {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-bottom: 3rem;
}
footer .footer_margin h2 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
footer .footer_margin a {
  color: white;
  line-height: 180%;
}
footer .footer_margin a i {
  margin-right: 1%;
}
@media screen and (min-width: 900px) {
  footer .footer_margin {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer_margin a {
    white-space: nowrap;
  }
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(239, 239, 239);
  text-align: center;
  padding: 0.1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.explorer {
  text-align: center;
  padding: 1.5rem;
  padding-bottom: 3rem;
  background-color: rgb(248, 248, 248);
}
.explorer p {
  margin-bottom: 3rem;
}
.explorer a {
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 0px #555555;
  margin-top: 1rem;
  transition: all 300ms;
  font-weight: 500;
  margin-bottom: 2rem;
}
.explorer a:hover {
  transform: scale(1.05);
}

.fonctionnement {
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
  font-weight: 500;
  counter-reset: steps;
  white-space: nowrap;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 900px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  background-color: rgb(248, 248, 248);
  padding: 1.2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px rgb(197, 197, 197);
  list-style-type: none;
  position: relative;
}
.fonctionnement li i {
  color: rgb(73, 73, 73);
  margin-right: 1rem;
}
.fonctionnement li .fa-store {
  color: #9356dc;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356dc;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}

.restaurants {
  background-color: rgb(248, 248, 248);
}
.restaurants_block {
  width: 90%;
  margin: auto;
  padding-bottom: 8rem;
}
.restaurants_block h2 {
  padding-top: 4rem;
}
.restaurants_responsive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (max-width: 900px) {
  .restaurants_responsive {
    grid-template-columns: 1fr;
  }
}
.restaurants_cartes {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(197, 197, 197);
  position: relative;
}
.restaurants_cartes:hover {
  transform: scale(1.05);
}
.restaurants_cartes img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants_cartes .nouveau {
  background-color: #99e2d0;
  color: #33a385;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.restaurants_cartes_texte {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0.5;
}
.restaurants_cartes_texte i {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  font-size: xx-large;
}
.restaurants_cartes_texte .fa-solid {
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.restaurants_cartes_texte:hover .fa-solid {
  opacity: 1;
}
.restaurants_cartes_texte:hover .fa-regular {
  opacity: 0;
}

.page_menu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  position: relative;
  z-index: 1;
  bottom: 2rem;
  text-align: center;
  background-color: rgb(248, 248, 248);
  border-radius: 30px 30px 0 0;
}
.menu button {
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 0px #555555;
  margin-top: 1rem;
  transition: all 300ms;
  font-size: large;
  cursor: pointer;
}
.menu button:hover {
  transform: scale(1.05);
}
.menu_margin {
  width: 90%;
  margin: auto;
}
.menu h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8em;
}
.menu_titre {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.menu_titre i {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: xx-large;
}
.menu_titre .fa-solid {
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.menu_titre:hover .fa-solid {
  opacity: 1;
}
.menu_titre:hover .fa-regular {
  opacity: 0;
}
.menu_titre_liste {
  font-size: large;
  text-decoration: underline #99e2d0 3px;
  text-align: start;
}
.menu_responsive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media screen and (max-width: 900px) {
  .menu_responsive {
    grid-template-columns: 1fr;
  }
}
.menu ul {
  text-align: left;
  padding: 0;
}
.menu li {
  background-color: white;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px rgb(197, 197, 197);
  border-radius: 20px;
  list-style: none;
  display: flex;
  height: 6rem;
  overflow: hidden;
  animation: animation-appear 1s;
}
.menu li:nth-child(1) {
  animation-delay: 100ms;
}
.menu li:nth-child(2) {
  animation-delay: 200ms;
}
.menu li:nth-child(3) {
  animation-delay: 300ms;
}
.menu li:nth-child(4) {
  animation-delay: 400ms;
}
.menu li .prix {
  font-weight: bold;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.menu li .menu_texte {
  margin-left: 1rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu li .menu_texte h3, .menu li .menu_texte p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu li .check {
  background-color: #99e2d0;
  color: white;
  width: 4rem;
  font-size: xx-large;
  display: grid;
  place-items: center;
  border-radius: 0 20px 20px 0;
  margin-right: -4rem;
  transition: margin 0.5s;
}
.menu li:hover .check {
  margin: 0;
}
.menu li:hover i {
  animation: check-spin 1s;
}

@keyframes check-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes animation-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.loader {
  background-color: whitesmoke;
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-left: 5px solid #ff79da;
  border-bottom: 5px solid #99e2d0;
  border-radius: 50%;
  animation: spin 3s infinite ease-in-out;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
