@import "./utils/mixins";
@import "./utils/variables";
@import "./base/base";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil";
@import "./pages/menus";
@import "./layouts/loader";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
