.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(239, 239, 239);
  text-align: center;
  padding: 0.1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.explorer {
  text-align: center;
  padding: 1.5rem;
  padding-bottom: 3rem;
  background-color: $fond;
  p {
    margin-bottom: 3rem;
  }
  a {
    @include button;
    font-weight: 500;
    margin-bottom: 2rem;
    &:hover {
     @include buttonHover;
   }
  }
  
}

.fonctionnement {
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
  font-weight: 500;
  counter-reset: steps;
  white-space: nowrap;
  & ol{
    display: flex;
    gap: 2rem;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  & li{
    background-color: $fond;
    padding: 1.2rem;
    flex-grow: 1;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(197, 197, 197);
    list-style-type: none;
    position: relative;
    i{
      color: rgb(73, 73, 73);
      margin-right: 1rem;
    }
    .fa-store {
      color: $primaire;
    }
    &::before{
      content: counter(steps);
      counter-increment: steps;
      background-color: $primaire;
      color: white;
      width: 1.5rem;
      height: 1.5rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      bottom: 1rem;
      left: -1rem;
    }
  }
}

.restaurants {
  background-color: $fond;

  &_block {
    width: 90%;
    margin: auto;
    padding-bottom: 8rem;
    h2 {
      padding-top: 4rem;
    }
  }
  &_responsive{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr; 
    }
  }
  &_cartes{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(197, 197, 197);
    position: relative;
    &:hover{
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    .nouveau {
      background-color: $tertiaire;
      color: #33a385;
      width: 80px;
      height: 25px;
      @include flexbox-row;
      justify-content: center;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
    &_texte {
      width: 90%;
      margin: auto;
      @include flexbox-row;
      justify-content: space-between;
      line-height: 0.5;

      i {
        position: absolute;
        bottom: 1.5rem;
        right: 2rem;
        font-size: xx-large;
      }
      .fa-solid {
        background-image: linear-gradient($secondaire, $primaire);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
      }
      &:hover {
        .fa-solid {
        opacity: 1;
        }
        .fa-regular {
          opacity: 0;
        }
      }
    }
  }
}
