.page_menu {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.menu {
  position: relative;
  z-index: 1;
  bottom: 2rem;
  text-align: center;
  background-color: $fond;
  border-radius: 30px 30px 0 0;
  button {
    @include button;
    font-size: large;
    &:hover{
      @include buttonHover;
    }
  }
  &_margin {
    width: 90%;
    margin: auto;
  }
  h2 {
    @include police-logotitre;
    font-size: 1.8em;
  }
  &_titre {
    margin: auto;
    @include flexbox-row;
    justify-content: space-between;
    position: relative;
    i {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      font-size: xx-large;
    }
    .fa-solid {
      background-image: linear-gradient($secondaire, $primaire);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      opacity: 0;
      transition:.8s;
    }
    &:hover {
      .fa-solid {
        opacity: 1;
      }
      .fa-regular {
        opacity: 0;
      }
    }
    &_liste {
      font-size: large;
      text-decoration: underline $tertiaire 3px;
      text-align: start;
    }
  }

  &_responsive{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

  }
  ul {
    text-align: left;
    padding: 0;
    
  }

  li {
    background-color: white;
    margin-bottom: 2rem;
    width: 90%;
    @include box-shadow;
    border-radius: 20px;
    list-style: none;
    display: flex;
    height: 6rem;
    overflow: hidden;

    animation: animation-appear 1s;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}){
        animation-delay: 100ms *
        $i;
      }
    }

    .prix {
      font-weight: bold;
      margin: 0;
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      padding: 1rem;
    }
    .menu_texte{
      margin-left: 1rem;
      padding: 0.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      

      h3, p{
        margin: 0;
        overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      }
    }
    
    .check{
      background-color: $tertiaire;
      color: white;
      width: 4rem;
      font-size: xx-large;
      display: grid;
      place-items: center;
      border-radius: 0 20px 20px 0;
      margin-right: -4rem;
      transition: margin 0.5s;

    }
    &:hover {
      .check{
         margin: 0;
      }
      i{
        animation: check-spin 1s;
      } 
    }
  }
}

@keyframes check-spin {
  0%{
    transform: rotate(-270deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes animation-appear {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}