@mixin police_principale {
  font-family: "Roboto", sans-serif;
}
@mixin police-logotitre {
  font-family: "Shrikhand", cursive;
}

@mixin button {
  background-image: linear-gradient($secondaire, $primaire);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px 0px #555555;
  margin-top: 1rem;
  transition: all 300ms;
}
@mixin buttonHover {
  transform: scale(1.05);
}

@mixin flexbox-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@mixin flexbox-column {
  display: flex;
  flex-direction: column;
}
