footer {
  background-color: rgb(70, 70, 70);
  color: white;

  .footer_margin {
    @include flexbox-column;
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
    h2 {
      @include police-logotitre;
      font-weight: lighter;
    }
    a {
      color: white;
      line-height: 180%;
      i {
        margin-right: 1%;
      }
    }
  @media screen and (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
       align-items: center;
       
      a{
        white-space: nowrap;
       }
    }
  }
}
