header {
  @include police-logotitre;
  text-align: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  padding: 0.2rem;
  position: relative;
}
.header_menu {
  @include flexbox-row;
  align-items: center;
  justify-content: center;
  a {
    font-size: x-large;
    position: absolute;
    left: 2rem;
  }
}
